@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Nunito:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.container-fluid {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    padding: 20px 80px;
}
.logo{
    width: 25%;
    float: left;
}
.logo img{
    width: 150px;
}
.menu{
    margin-top: 15px;
}
.nav{}
.nav ul{
    list-style: none;
}
.nav ul li{
    float: left;
    margin-right: 110px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.nav ul li a:hover{
    color: wheat;
    transition: 1.3s;
}
.search{}
input{
    background: transparent;
    border: 1px solid #0ADAB9;
    border-radius: 15px;
    padding: 5px 40px;
    text-align: right;
    color: white;
}
::placeholder {
    color: white;
}
.container{
    padding: 80px 120px 60px 136px;
    overflow: hidden;
}
.banner-content{
    width: 44%;
    float: left;
}
.banner-content h2{
    color: white;
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 100px;
}
.banner-content p{font-family: 'nunito';
    font-weight: 400;
    color: white;
    margin: 40px 0;
    font-size: 14px;
    letter-spacing: .6px;
}
button{
    color: black;
    background-color: #0ADAB9;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 7px 30px;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 3px;
    border: none;
}
.social-icon{}
.social-icon ul{
    list-style: none;
}
.social-icon ul li{
    float: left;
}
.social-icon ul li a{
}
.social-iconul li a:hover{}
.banner-img{
    width: 56%;
    float: right;
    position: relative;
}
.banner-img img{
    width: 500px;
    margin-left: 170px;
    height: 650px;
}
.no{
    position: absolute;
    color: white;
    right: -82px;
    top: 50px;
}
.no h3{
    text-transform: uppercase;
    text-align: right;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 22px;
    width: 200px;
    letter-spacing: 3px;
    line-height: 1.2;
}
.social-icon img {
    width: 40px;
    margin-top: 40px;
    margin-left: 10px;
}